body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff5f5;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h1 {
  color: #b30000;
  margin-bottom: 10px;
}

p {
  margin-bottom: 30px;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  height: 120px;
  resize: vertical;
}

button {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #990000;
}
a.botao {
  display: inline-block;
  padding: 12px 20px;
  background-color: #b30000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 20px;
  transition: background 0.3s;
}

a.botao:hover {
  background-color: #990000;
}
